services:
  docker-sandbox:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TZ: Europe/Berlin
        CODEX_VERSION: latest
        GEMINI_VERSION: latest
#        CLAUDE_CODE_VERSION: latest
        ZSH_IN_DOCKER_VERSION: 1.2.0
    
    container_name: sandbox
    
    cap_add:
      - NET_ADMIN
      - NET_RAW
        
    volumes:
      # Mount current project - CHANGE PATH AS NEEDED!
      - ~/Projects/test-project:/workspace
      # Mount persisting configs for CLIs
      - ~/.codex:/home/ubuntu/.codex
      - ~/.gemini:/home/ubuntu/.gemini
      - ~/.claude:/home/ubuntu/.claude
      - ~/.claude.json:/home/ubuntu/.claude.json
      - ~/.claude.json.backup:/home/ubuntu/.claude.json.backup

    working_dir: /workspace
    
    stdin_open: true
    tty: true
    
    command: >
      bash -c "
      sudo /usr/local/bin/init-firewall.sh &&
      exec zsh
      "

#    # Optional: restrict ressources of container
#    deploy:
#      resources:
#        limits:
#          memory: 4G
#          cpus: '2.0'
#        reservations:
#          memory: 2G
#          cpus: '1.0'
